.CommentSection {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.CommentSection .icons i{
    margin-right: 10px;
}

.CommentSection .username {
    font-weight: bolder;
}

.CommentSection input {
    width: 100%;
    font-size: 1.3rem;
    padding: 4px;
    border: none;
    border-top: 1px solid lightgray;
} 